.titulo-galeria {
    color: white;
}

#carouselExample {
    max-width: 800px;
    width: 100%;
}

.foto-galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px, 0;
}